In [126]:
import pandas as pd

who = pd.read_csv("who_16_03.csv")
dictionary = pd.read_csv("country_to_outbreak_dictionary.csv")

In [127]:
who_table_with_qids = who.merge(dictionary, on = "country", how = "left" )

who_table_with_qids = who_table_with_qids[["country", "total_cases", "total_deaths", "outbreak_qid", "outbreak"]].dropna().drop_duplicates()


Now I am going to match countries with aliases that might not be the official country name

In [128]:
who_table_with_qids_alias_version = who.merge(dictionary, left_on = "country", right_on = "other_names", how = "left" )

who_table_with_qids_alias_version = who_table_with_qids_alias_version[["country_x", "total_cases", "total_deaths", "outbreak_qid", "outbreak"]].dropna().drop_duplicates()

who_table_with_qids_alias_version.columns = ["country", "total_cases", "total_deaths", "outbreak_qid", "outbreak"]
who_table_with_qids_alias_version

,country,total_cases,total_deaths,outbreak_qid,outbreak
5,China,81077,3218,Q83872271,2019–20 coronavirus pandemic in mainland China
6,Republic of Korea,8236,75,Q83872398,2019–20 COVID-19 outbreak in South Korea
12,Viet Nam,57,0,Q83873057,2019–20 coronavirus outbreak in Vietnam
13,Brunei Darussalam,50,0,Q87412028,2020 coronavirus outbreak in Brunei
33,Czechia,298,0,Q86919406,2020 coronavirus outbreak in the Czech Republic
44,Russian Federation,63,0,Q84098939,2019–20 coronavirus outbreak in Russia
53,Cyprus,33,0.0,Q87580938,2020 coronavirus pandemic in Cyprus
57,Republic of Moldova,23,0.0,Q87592982,2020 coronavirus pandemic in Moldova
154,Cote d’Ivoire,3,0.0,Q87704267,2020 coronavirus pandemic in Ivory Coast
164,Congo,1.0,0.0,Q87706558,2020 coronavirus pandemic in the Democratic Re...

In [129]:
## Now we will join both tables 

who_table_with_qids = who_table_with_qids.append(who_table_with_qids_alias_version)

In [130]:
# Now saving. Now we have the matching table. It will have to be manually curated for items that possibly are mistaken. It is okay.

who_table_with_qids.to_csv("who_table_with_qids.csv")

In [131]:
# Let's see if we have duplications. If we do, then I will solve then on the dictionary file.

def list_duplicates(seq):
  seen = set()
  seen_add = seen.add
  # adds all elements it doesn't know yet to seen and all other to seen_twice
  seen_twice = set( x for x in seq if x in seen or seen_add(x) )
  # turn the set into a list (as requested)
  return list( seen_twice )

list_duplicates(who_table_with_qids["country"])

[]