In [2]:
from tabula import read_pdf




## Run from command line "pdftk 20200316-sitrep-56-covid-19.pdf burst"

In [20]:
df1 = read_pdf("pg_0003.pdf")

df1[0].head()

'pages' argument isn't specified.Will extract only from page 1 by default.

,Unnamed: 0,Total,Total.1,Unnamed: 1,Total.2,Unnamed: 2,Days since last
0,Reporting Country/,NaN,NaN,Total,NaN,Transmission,NaN
1,NaN,confirmed,confirmed,NaN,new,NaN,reported case
2,Territory/Area†,‡ cases,new cases 1,deaths,deaths1,classification§,NaN
3,Western Pacific Region,NaN,NaN,NaN,NaN,NaN,NaN
4,China,81077,29,3218,14,Local Transmission,0

In [21]:
df2 = read_pdf("pg_0004.pdf")

df2[0].head()

'pages' argument isn't specified.Will extract only from page 1 by default.

  Luxembourg  38     0    1  0.1   Local transmission    2
0    Belarus  36  15.0  0.0  0.0   Local transmission  0.0
1     Cyprus  33  12.0  0.0  0.0  Imported cases only  0.0
2    Georgia  33   3.0  0.0  0.0  Imported cases only  0.0
3     Latvia  31   1.0  0.0  0.0  Imported cases only  0.0
4    Armenia  26  18.0  0.0  0.0   Local transmission  0.0

In [22]:
df3 = read_pdf("pg_0005.pdf")

df3[0].head()

'pages' argument isn't specified.Will extract only from page 1 by default.

,occupied Palestinian\rterritory,38,0,0.1,0.2,Local transmission,2
0,NaN,egion of the Americas,NaN,NaN,NaN,NaN,NaN
1,United States of\rAmerica,1678,0.0,41.0,0.0,Local transmission,2.0
2,Canada,304,60.0,1.0,0.0,Local transmission,0.0
3,Brazil,200,79.0,0.0,0.0,Local transmission,0.0
4,Chile,75,14.0,0.0,0.0,Local transmission,0.0

In [23]:
df4 = read_pdf("pg_0006.pdf")

df4[0].head()

'pages' argument isn't specified.Will extract only from page 1 by default.

           Nigeria    2    0  0.1  0.2  Imported cases only    7
0       Seychelles  2.0  2.0  0.0  0.0  Imported cases only  0.0
1  Central African  NaN  NaN  NaN  NaN                  NaN  NaN
2              NaN  1.0  0.0  0.0  0.0  Imported cases only  1.0
3         Republic  NaN  NaN  NaN  NaN                  NaN  NaN
4            Congo  1.0  0.0  0.0  0.0  Imported cases only  1.0

'pages' argument isn't specified.Will extract only from page 1 by default.

[]