In [55]:
from tabula import read_pdf

import pandas as pd


## Run from command line "pdftk 20200316-sitrep-56-covid-19.pdf burst"

In [63]:
df = read_pdf("20200316-sitrep-56-covid-19.pdf", pages = [3,4,5,6], pandas_options={'header': None})
cases_df = pd.concat(df)

cases_df.columns = ["country", "total_cases", "cases_today", "total_deaths", "deaths_today", "classification", "says since last case"]

In [64]:
cases_df.to_csv("who_16_03.csv")

In [65]:
cases_df

,country,total_cases,cases_today,total_deaths,deaths_today,classification,says since last case
0,NaN,Total,Total,NaN,Total,NaN,Days since last
1,Reporting Country/,NaN,NaN,Total,NaN,Transmission,NaN
2,NaN,confirmed,confirmed,NaN,new,NaN,reported case
3,Territory/Area†,‡ cases,new cases 1,deaths,deaths1,classification§,NaN
4,Western Pacific Region,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
19,regions,NaN,NaN,NaN,NaN,NaN,NaN
20,International,NaN,NaN,NaN,NaN,NaN,NaN
21,conveyance,712,15,7,0,Local transmission,0
22,(Diamond Princess),NaN,NaN,NaN,NaN,NaN,NaN
23,Grand total,167511,13903,6606,862,NaN,NaN

                 0    1    2    3    4                    5    6
0          Nigeria  2.0  0.0  0.0  0.0  Imported cases only  7.0
1       Seychelles  2.0  2.0  0.0  0.0  Imported cases only  0.0
2  Central African  NaN  NaN  NaN  NaN                  NaN  NaN
3              NaN  1.0  0.0  0.0  0.0  Imported cases only  1.0
4         Republic  NaN  NaN  NaN  NaN                  NaN  NaN

,0,1,2,3,4,5,6
0,NaN,Total,Total,NaN,Total,NaN,Days since last
1,Reporting Country/,NaN,NaN,Total,NaN,Transmission,NaN
2,NaN,confirmed,confirmed,NaN,new,NaN,reported case
3,Territory/Area†,‡ cases,new cases 1,deaths,deaths1,classification§,NaN
4,Western Pacific Region,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
19,regions,NaN,NaN,NaN,NaN,NaN,NaN
20,International,NaN,NaN,NaN,NaN,NaN,NaN
21,conveyance,712,15,7,0,Local transmission,0
22,(Diamond Princess),NaN,NaN,NaN,NaN,NaN,NaN
23,Grand total,167511,13903,6606,862,NaN,NaN